@charset "utf-8";

#header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px 10px 10px;
    margin: auto;
    background-color: #FFFFFF;
}
